.jumbotron {
	background-color: black;
	color: white;
}

h1 {
	font-family: "Times New Roman", Georgia, Serif;
}

#search {
	background-color: black;
	color: white;
}

#top {
	background-color: black;
	color: white;
}
